@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-shadow: border-box;
    font-family: sans-serif;
}



.home-page-section {
    position: relative;
    background-color: #1E283A;
    height: 100vh;
    z-index: -2;
    overflow: hidden;
}

.overlay-effect {
    background-color: #1E283A;
    height: 100vh;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    box-shadow: 50px -50px 30px #1E283A;
}

.video-container video {
    width: 100vw;
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    z-index: -2;
    object-fit: cover;
}



.content-heading-container {
    position: relative;
    margin: 150px 0 0 0;
    width:300px;
    animation: slide 1s ease-in;
    opacity: 0;
    /* transform: translateX(-100px); */
    animation-fill-mode: forwards;
    margin-inline: auto;
}

@keyframes slide {
    0% {
        /* transform: translateY(200px); */
        transform: scale(0);
    }

    100% {
        transform: translateY(0);
        opacity: 1;
        transform: scale(1);
    }
}

.heading {
    font-size: 30px;
    color: white;
}

.heading-span {
    color: #a2e635;
}

.heading-logo-amazon {
    height: 100px;
    width: 100px;
    position: absolute;
    top: -30px;
    left: 240px;
}

.heading-logo-uber {
    height: 100px;
    width: 100px;
    position: absolute;
    top: -30px;
    left: 190px;
}

.heading-logo-msytech {
    height: 100px;
    width: 100px;
    position: absolute;
    top: -35px;
    left: 140px;
}

.heading-logo-micreosoft {
    height: 110px;
    width: 110px;
    position: absolute;
    top: -35px;
    left: 240px;
}

.heading-logo-slice {
    height: 100px;
    width: 100px;
    position: absolute;
    top: -35px;
    left: 140px;
}

.heading-logo-superk {
    height: 100px;
    width: 100px;
    position: absolute;
    top: -30px;
    left: 140px;
}

/* top logo */

.nav-container {
    position: relative;
    padding-top: 60px;
    padding-bottom: 30px;
    padding-left: 20px;
}



.by-nxtwave-text {
    text-decoration: none;
    position: absolute;
    left: 150px;
    color: white;
}

.home-page-btn-container {
    margin-top: 40px;
    

}

.home-page-btn-container button {
    width: 90%;
    max-width: 400px;
    display: block;
    margin:10px;
    height:40px;
    text-align: center;
    font-size: 14px;
    border-radius: 12px;
    margin-inline: auto;
    cursor: pointer;
    
}


.home-page-btn-container .home-page-btn {
    border: 1px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;

}

.home-page-discount h1 {
    color:#F1F5F9;
    font-size:20px;
    text-align: center;
    font-weight: 200;
}

.home-page-discount .dis-span {
    color:#a2e635;
    font-size: 20px;
    font-weight: bold;
}

.home-page-dis-span {
    text-decoration: line-through;
}


@media screen and (min-width:576px) and (max-width:767px) {
    .content-heading-container {
        margin-left: 20px;
        width: 600px;
        margin-top: 30px;
    }
    .heading  {
        font-size: 46px;
        
    }
    
    .heading-logo-amazon {
        height: 150px;
        width: 150px;
        position: absolute;
        top: -40px;
        left: 360px;
    }

    .heading-logo-uber {
        height: 150px;
        width: 150px;
        position: absolute;
        top: -45px;
        left: 280px;
    }

    .heading-logo-msytech {
        height: 150px;
        width: 150px;
        position: absolute;
        top: -50px;
        left: 200px;
    }

    .heading-logo-micreosoft {
        height: 160px;
        width: 160px;
        position: absolute;
        top: -50px;
        left: 350px;
    }

    .heading-logo-slice {
        height: 150px;
        width: 150px;
        position: absolute;
        top: -50px;
        left: 200px;
    }

    .heading-logo-superk {
        height: 150px;
        width: 150px;
        position: absolute;
        top: -40px;
        left: 220px;
    }

    .overlay-effect {  
        width: 200px;
    }

    .home-page-btn-container {
        height: 44px;
        width: 400px;
        font-size:  14px;
    }


    .home-page-btn-container button {
        margin-left: 20px;
    }
    .home-page-discount h1 {
        margin-left: 20px;
        text-align: left;
        margin-top: 50px;
    }

    .nav-container {
        padding-top: 100px;
    }
    
    .by-nxtwave-text {
        text-decoration: none;
        color: white;
        position: relative;
        bottom: 26px;
        right: 2px;

    
    }
    .nav-container img {
        height:100px;
        width:250px;
    }

}


@media screen and (min-width:768px) {
    .content-heading-container {
        margin-left: 60px;
        width: 600px;
        margin-top: 30px;
    }
    .heading  {
        font-size: 60px;
        
    }
    
    .heading-logo-amazon {
        height: 190px;
        width: 190px;
        position: absolute;
        top: -50px;
        left: 470px;
    }

    .heading-logo-uber {
        height: 190px;
        width: 190px;
        position: absolute;
        top: -60px;
        left: 350px;
    }

    .heading-logo-msytech {
        height: 190px;
        width: 190px;
        position: absolute;
        top: -60px;
        left: 270px;
    }

    .heading-logo-micreosoft {
        height: 220px;
        width: 220px;
        position: absolute;
        top: -75px;
        left: 450px;
    }

    .heading-logo-slice {
        height: 180px;
        width: 180px;
        position: absolute;
        top: -60px;
        left: 260px;
    }

    .heading-logo-superk {
        height: 210px;
        width: 210px;
        position: absolute;
        top: -65px;
        left: 270px;
    }

    .overlay-effect {  
        width: 350px;
        height: 120%;
    }
    
    .home-page-btn {
        margin-top: 50px;
    }

    .home-page-btn-container button {
        margin-left: 60px;
        height: 44px;
        width: 400px;
        font-size: 14px;
    }
    .home-page-discount h1 {
        margin-left: 60px;
        text-align: left;
    }

    .nav-container {
        padding-top: 50px;
    }
    
    .by-nxtwave-text {
        text-decoration: none;
        color: white;
        position: relative;
        bottom: 40px;
        margin-left: 130px; 

    
    }
    .nav-container img {
        height:150px;
        width:300px;
        margin-left: 60px;
    }
}


/* Logo section */


.logo-section-bg {
    background-color: #0F172A;
    padding: 30px;
}

.logo-section-bg h1 {
    font-size: 36px;
    white-space: wrap;
    color: white;
    font-weight: bold;
    text-align: center;
    padding-bottom: 50px;
    font-family: satosi;
}

.logos {
    white-space: nowrap;
    margin: 40px 0;
    overflow: hidden;
}

.logo-slide {
    animation: logoSlide 30s infinite linear;
    display: inline-block;
}

.logo-slide img {
    height: 70px;
    width: 100px;
    margin: 0px 40px;
    color: white;
}

@keyframes logoSlide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

@media screen and (min-width:768px) {
    .logo-section-bg h1 {
        font-size: 46px;
    }
}


/* Section 3 */


.section3-container {
    background-image: url("background-img.png");
    background-size: cover;
    padding: 20px;
    font-family: Sans-Serif;
}

.section3-content-container h1 {
    color: white;
    font-size: 32px;
    text-align: center;
    margin-bottom: 24px;
    white-space: wrap;
}

.section3-content-container p {
    color: #CBD5E1;
    font-size: 18px;
    text-align: center;
    margin-bottom: 24px;
}

.section3-btn-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.section3-btn-container button {
    height: 33px;
    border: 1px solid #F8FAFC;
    background-color: transparent;
    color: white;
    border-radius: 25px;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.section3-card-btn-checked {
    background-color: white !important;
    color: #0F172A !important;
    border: none;
}


/* card */

.swiper-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

.card-wrapper {
    width: 100%;
    max-width: 100px;
    

}

.card {
    background-color: #334155;
    padding-bottom: 10px;
    border-radius: 18px;
    width: 100%;
    max-width: 400px;
    /* position: relative; */
}

.card img {
    height: 300px;
    width: 100%;
    position: relative;
}

.trailerbtn {
    background-color: #4EA5FA;
    border-radius: 18px;
    width: 80px;
    color: white !important;
    font-size: 16px !important;
    position: absolute;
    top: 270px;
    left: 10px;
    cursor: pointer;
    padding: 0px 5px;
    padding-left: 10px;
    text-decoration: none;
}

.trailerbtn:hover, .trailerbtn:active {
    text-decoration: none;
    background-color: hsl(210, 95%, 54%);
}

.card .card-heading {
    font-size: 28px;
    text-align: start;
    padding-left: 20px;
    margin-top: 10px;
}

.card .section3-time {
    text-align: start;
    padding-left: 20px;
    font-size: 18px;
    color: #E2E8F0;
}

.card .section3-name {
    font-size: 22px;
    text-align: start;
    padding-left: 20px;
    font-weight: bold;
    color: #CBD5E1;
}

.card .section3-position {
    font-size: 18px;
    text-align: start;
    padding-left: 20px;
    color: #F8FAFC;
}

.card button {
    background-color: transparent;
    color: #4EA5FA;
    font-size: 18px;
    border: none;
    margin-left: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}


.swiper-button-next {
    color: #4EA5FA;
    font-weight: bolder;
}

.swiper-button-prev {
    color: #4EA5FA;
    font-weight: bolder;
}

@media screen and (min-width:768px) {
    .section3-container {
        padding: 40px;
    }

    .section3-content-container h1 {
        font-size: 42px;
    }

    .section3-content-container p {
        font-size: 24px;
    }

    .section3-btn-container button {
        height: 40px;
        font-size: 18px;
    }

    .swiper-container {
        max-width: 800px;
    }
    .card {
        height: 700px;
    }
}

@media screen and (min-width:950px) {
    .section3-container {
        padding: 60px;
    }

    .section3-content-container h1 {
        font-size: 56px;
    }

    .section3-content-container p {
        font-size: 28px;
    }

    .section3-btn-container button {
        height: 50px;
        font-size: 20px;
        min-width: 70px;
        margin-bottom: 40px;
    }

    .swiper-container {
        max-width: 1200px;
    }
    .card {
        height: 650px;
    }
}


.section3-bottom-btn {
    height: 44px;
    width: 100%;
    min-width: 250px;
    max-width: 500px; 
    font-size: 16px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.section3-bottom-discount {
    font-size: 18px !important;
    color: white !important;
}

.section3-dis-span {
    text-decoration: line-through;
}

.discount-spanEl {
    color: #a2e635;
    font-weight: bolder;
}

/* modal */


.modalBtn {
    background-color: transparent;
    color: #4EA5FA;
    font-size: 18px;
    border: none;
    margin-left: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    /* font-weight: bold; */
}

.modalBtn:hover{
    background-color: transparent;
    color: #4EA5FA;
}

.modal-content {
    background-color: #334155;
}

.btn-close {
    color: white !important;
    background-color: white;
}

.modal-title {
    color: white;
    font-size: 30px;
    font-weight: 600;
    font-family: inter;
}

.popup-img {
    height: 72px;
    width: 72px;
    margin: 10px;
}

.work-exp-para {
    color: #E2E8F0;
    font-size: 14px;
    
}

.popup-name {
    font-size: 20px;
    color: white;
    margin-top: 15px;
}

.popup-position {
    color: #E2E8F0;
    font-size: 16px;
}

.popup-para {
    color: #E2E8F0;
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
}

.popup-logo-container {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.popup-logo-containe p {
    color: #E2E8F0;
    font-size: 14px;
}

.popup-logo-container img {
    height: 40px;
    width: 100px;
}

.popup-bottom-heading {
    color: #F1F5F9;
    font-size: 30px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: inter;
}

.popup-bottom-container {
    display: flex;
    gap: 10px;
    margin: 10px;
}

.popup-bottom-container img {
    height: 32px;
    width: 32px;
}

.popup-bottom-container p {
    font-size: 18px;
    color: #E2E8F0;
    margin-top: 4px;
}

/* Review Section */


.review-section-container {
    background-color: #0F172A;
    padding: 30px 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.review-section-top-heading1 {
    color: #F1F5F9;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    font-family: inherit;
}

.review-section-top-heading2-container {
    display: flex;
    justify-content: center;
    height: 38px;
    width: 300px;
    padding: 8px 12px;
    border: 1px solid #713F12;
    background-color: #231F27;
    margin: auto;
    border-radius: 50px;
}

.review-section-top-heading2-container img {
    height: 24px;
    width: 24px;
}

.review-section-top-heading2 {
    color: #F59E0B;
    font-size: 20px;
    margin-left: 10px;
}




.feedback-card {
    background-color: #1E293B;
    padding: 20px;
    margin: 10px;
    height: 180px;
    width: 330px !important;
    border-radius: 12px;
    position: relative;
}

.feedback-student-img {
    height: 40px;
    width: 40px;
    margin: 0px 10px 0px 0px;
}

.feedback-name {
    font-size: 12px;
    font-weight: 600;
    color: #E2E8F0;
    margin-bottom: 0px;
    margin-top: 5px;
}

.feedback-desc {
    color: #F1F5F7;
    font-size: 10px;

}

.feedback-linkedin-logo {
    height: 40px;
    width: 40px;
}

.feedback-card-top-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.feedback-review {
    color: #E2E8F0;
    font-size: 14px;
    font-weight: 500;
}

.feedback-review span,a {
    color: #54A3FA;
    cursor: pointer;
    text-decoration: none;
}

.feedback-review span,a:hover {
    text-decoration: none;
}

.feedback-next {
    position: absolute;
    top: 360px;
    right: 200px;
}

.feedback-prev {
    position: absolute;
    top: 360px;
    left: 200px;
}

.feedback-pagination {
    position: absolute;
}

#next2 {
    color: white;
    font-weight: 200;
    background-color: transparent;
    backdrop-filter: blur(2px);
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

#prev2 {
    color: white;
    font-weight: 200;
    background-color: transparent;
    backdrop-filter: blur(2px);
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.swiper-pagination-bullet {
    background-color: white;
    position: relative;
    top: 15px;
}

 @media screen and (min-width:768px) {
    .feedback-card {
        height: 250px;
        width: 530px !important;
    }

    .feedback-student-img {
        height: 64px;
        width: 64px;
    }

    .feedback-name {
        font-size: 20px;
        font-weight: 600;
    }

    .feedback-desc {
        font-size: 16px;
    }

    .feedback-review {
        font-size: 18px;
        font-weight: 500;
    }
} 


@media screen and (min-width:768px) {
    .review-section-container {
        padding-bottom: 70px;
    }

    .review-section-top-heading1 {
        font-size: 30px;
    }

    .review-section-top-heading2-container {
        height: 50px;
        width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .review-section-top-heading2 {
        font-size: 24px;
        margin-top: 5px;
    }

    .feedback-card {
        height: 300px;
        padding: 30px;
    }

    .feedback-name {
        font-size: 22px;
    }

    .feedback-desc {
        font-size: 18px;
    }

    .feedback-review {
        font-size: 22px;
    }

    .feedback-student-img {
        height: 70px;
        width: 70px;
    }
}


@media screen and (min-width:768px) {
    .review-section-container {
        padding-bottom: 100px;
    }

    .review-section-top-heading1 {
        font-size: 46px;
        font-weight: 500;
    }

    .review-section-top-heading2-container {
        height: 50px;
        width: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }

    .review-section-top-heading2 {
        font-size: 26px;
        margin-top: 10px;
    }
}

/* Section 5 */

.section5-bg-container {
    background-image: url("section5-bg-img.png");
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.section5-main-heading {
    color: white;
    font-size: 32px;
    font-weight: bold;
    margin: 20px;
    margin-bottom: 30px;
    font-family: satoshi, san serif;
}

.section5-para-container {
    display: flex;
    justify-content: flex-start;
    margin: 10px;
    margin-bottom: 20px;
}

.section5-para-container img {
    height: 40px;
    width: 40px;
    margin-left: 5px;
}
.section5-para-container p {
    font-size: 22px;
    font-family: "roboto";
    color: #E2E8F0;
    margin-top: 5px;
    margin-left: 5px;
    font-family: inter, sans-serif;
}

.section5-btn {
    width: 300px;
    padding: 10px;
    margin-left: 20px;
    font-family: 16px;
}

@media screen and (min-width:768px) {
    .section5-bg-container {
        padding-left: 40px;
    }
    .section5-main-heading {
        font-size: 42px;
    }
    .section5-para-container img {
        height: 50px;
        width: 50px;
    }
    .section5-para-container p {
        font-size: 24px;
        margin-top: 5px;
    }
    .section5-btn {
        width: 400px;
        font-size: 18px;
    }
    
}

@media screen and (min-width:950px) {
    .section5-bg-container {
        padding-left: 100px;
    }
    .section5-main-heading {
        font-size: 48px;
        width: 100%;
        max-width: 800px;
        margin-bottom: 40px;
    }
    .section5-para-container img {
        height: 60px;
        width: 60px;
    }
    .section5-para-container p {
        font-size: 28px;
        margin-top: 10px;
    }
    .section5-btn {
        width: 500px;
        font-size: 18px;
        margin-top: 20px;
    }
    
}


/* Podcast section : section6 */

.podcast-section-container {
    background-color: #0F172A;
    padding: 20px;
}

.podcast-section-header {
    white-space: wrap;
}

.podcast-section-header h1 {
    font-size: 28px;
    color: white;
    font-weight: 600;
    font-family:  "sans-serif";
    margin: 20px;
}

.podcast-input-section-container {
    margin: 20px;
    
}

.podcast-input-section-container label {
    color: #E2E5F0;
    font-size: 16px;
    display: block;
}

.podcast-input-section-container input {
    width: 100%;
    background-color: #334155;
    border:none;
    padding: 8px 12px;
    border-radius: 8px;
    margin-bottom: 10px;
    color: white;

}

.podcast-input-section-container input::placeholder {
    color: #94A4B8;
}

.podcast-input-section-container button {
    width: 100%;
    font-size: 14px;
}

.podcast-input-section-container p {
    font-size: 14px;
    color: red;
}

@media screen and (min-width:768px) {
    .podcast-section-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        
    }
    .podcast-section-header h1 {
        font-size: 42px;
    }
    .podcast-input-section-container label {
        font-size: 16px;
    }
    .podcast-input-section-container input  {
        padding: 8px 18px ;
    }
    .podcast-input-section-container button {
        padding: 8px 18px;
    }
}

@media screen and (min-width:950px) {
    .podcast-section-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .podcast-section-container h1 {
        font-size: 48px;
    }
    .podcast-input-section-container input {
        width: 500px;
    }
    
}

/* Otp */



.otp-sec-content-container {
    width: 100%;
    max-width: 400px;
    padding: 10px;
}

.otp-sec-header {
    color: white;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 5px;
}

.otp-sec-para {
    color: white;
    font-size: 18px;
    margin-bottom: 20px;
}

.otp-sec-input-heading {
    font-size: 18px;
    color: white;
    margin-bottom: 10px;
}

.otp-sec-input-container  {
    display: flex;
    gap: 10px;
}

.otp-sec-input-container input {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    border-radius: 8px;
    background-color: #334155;
    border: none;
    margin-bottom: 10px;
    color: white;
    font-size: 18px;
    text-align: center;
}

.otp-sec-input-container input::-webkit-inner-spin-button,
.otp-sec-input-container input::-webkit-outer-spin-button{
    -webkit-appearance:none;
}

.timer {
    text-align: end;
    color: #334155;
}

.otp-sec-verify-btn {
    background-color: #CBD5E1;
    color: #0F172A;
    width: 400px;
    padding: 10px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    border-radius: 12px;
    margin: 10px 0px;
}

.active-verify-btn {
    background-color: #2463EB;
    color: white;
}





/* mini section */

.mini-section-bg {
    background-color: #1E2B3B;
    padding: 30px;
}

.mini-section-bg h1 {
    font-size: 14px;
    text-align: center;
    color: white;

}

@media screen and (min-width:768px) {
    .mini-section-bg h1 {
        font-size: 18px;
    }
}

/* footer section */

.footer-bg-container {
    background-color: #0F172A;
    padding: 20px;
    
}

.nxtwave-logo {
    color: white;
    margin-bottom: 50px;
    height: 70px;
    width: 150px;
}

.footer-reachus-container {
    margin-bottom: 20px;
    gap: 10px;
}
.footer-reachus-container img {
    height: 33px;
    width: 33px;
}

.footer-reachus-container a {
    font-size: 14px;
    color: #697282;
    margin-top: 5px;
    margin-left: 5px;
}

.footer-reachus-container h2 {
    color: #5B7184;
    font-size: 18px;
    font-weight: bold;
    max-width: 250px;
}

.footer-link-container {
    width: 100%;
    max-width: 300px;
}

.footer-link-container h1 {
    font-size: 18px;
    font-weight: bold;
    color: #5B7184;
    margin-bottom: 20px;
}

.links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.links a {
    font-size: 14px;
    color: #697282;
    transition: color 200ms linear;
}

.links a:hover {
    color: white;
}

.footer-payment-heading {
    font-size: 18px;
    color: #5B7184;
    font-weight: bold;
    margin-top: 30px;
}

.footer-payment-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
}

.footer-payment-container img {
    height: 35px;
    width: 35px;
    margin: 5px ;
}

.footer-location-container {
    margin-top: 30px;
    display: flex;
    max-width: 400px;
}

.footer-location-container img {
    height: 33px;
    width: 33px;
    margin-top: 5px;
}
.footer-location-container p {
    font-size: 14px;
    color: #697282;
    margin-left: 10px;
}

.footer-icons-container {
    display: flex;
    gap: 20px;
    margin: 20px;
}
.footer-icons-container img {
    height: 22px;
    width: 22px;
    cursor: pointer;
}


.footer-bottom-container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.footer-bottom-container a {
    font-size: 14px;
    color: #697282;
    transition: color 200ms linear;
    margin-right: 15px;
    margin-bottom: 10px;
}

.footer-bottom-container a:hover {
    color: white;
}



@media screen and (min-width:768px) {
    .footer-flex-container {
        display: flex;
        justify-content: center;
        gap: 50px;
    }
    
}

@media screen and (min-width:950px) {
    .footer-flex-container {
        display: flex;
        justify-content: space-around;
    }
    .footer-bg-container {
        padding-left: 50px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .nxtwave-logo  {
        height: 80px;
        width: 160px;
    }
    .footer-reachus-container a {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .footer-reachus-container h2 {
        font-size: 24px;
    }
    .footer-link-container h1 {
        font-size: 24px;
    }
    .links a {
        font-size: 16px;
    }
    .footer-location-container p {
        font-size: 16px;
    }
    .footer-payment-heading {
        font-size: 24px;
    }
    .footer-payment-container img {
        height: 70px;
        width: 80px;
    }
    .footer-bottom-container a {
        font-size: 18px;
        margin-right: 30px;
    }
}

hr {
    height: 2px; 
    background-color: #697282; 
    margin: 40px 0px ;
}


